@import '../_bootstrap-global.scss';
@import '../../bootstrap/scss/_forms.scss';

.item-create-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.item-create-info-text {
    flex: 1 1 auto;
}

.item-create-info-count {
    flex: 1 1 auto;
    text-align: right;
}

.item-create-input {
    @extend .form-control;
    width: 100%;
    margin-bottom: 12px;

}